.myModal {
    position: fixed;
    z-index: 3;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0,0,0, 0.5);
}
.buttonClose{
    position:absolute;
    z-index: 4;
    left:14%;
    padding: 8px;
    font-weight: bolder;
    background: white;
    border:0;
    border-radius: 10%;
    cursor: pointer;
}

.myModalContent {
    position: relative;
    display: flex;
    padding: 25px;
    background: white;
    border-radius: 16px;

    max-width: 100%;
}

.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}
